
.wrapper{
 
  margin: 50px;
  display: grid ;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, 265px);
}

.wrapper li {
  
  list-style: none;
  border-radius: 5px;
  
  box-shadow: var(--shadow);
 
 
}