.body-container {
    display: flex;
    flex-direction: column;
}


.tags-input-container{
    border: 1px solid rgba(0, 0, 0, 0.175);;
    padding: .5em;
    border-radius: 3px;
    width: 100%;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
  }
  
  .tag-item{
    background-color: rgb(157, 164, 172);
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
  }
  .tag-item .close {
    height: 20px;
    width: 20px;
    background-color: rgb(34, 34, 34);
  
    color: #FFF;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18px;
    cursor: pointer;
  }
  .tag-input {
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
  }